<div id="tracking_wrapper" class="show">

	<%= render 'tracking/menu' %>
	
	<div id="tracking">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="name" rowspan="2">Name</th>
						<th class="summary total" rowspan="2">Total</th>
						<th class="summary goal" rowspan="2">Goal</th>
						<th class="summary missed" rowspan="2">Missed</th>
						<th class="summary owed" rowspan="2">Owed</th>
						<th class="week dates" colspan="2">Week 1 (May 12 - May 18)</th>
						<th class="week dates" colspan="2">Week 2 (May 19 - May 25)</th>
					</tr>

					<!-- need to put a "for" loop in here, to loop through the weeks once for each user -->
					<tr>
						<th class="week completed">
							Worked Out
						</th>
						<th class="week owed">
							Owed
						</th>
						<th class="week completed">
							Worked Out
						</th>
						<th class="week owed">
							Owed
						</th>
					</tr>
				</thead>

				<% @current_pact.get_users.each do |user| %>
				<tr>
					<td class="name"><%= user.username %>
					</td>
					<td class="summary total">
						<%= user.get_total_workout_days(@current_pact) %>
					</td>
					<td class="summary goal">
						<%= user.get_total_goal_days(@current_pact) %>
					</td>
					<td class="summary missed">
						<%= user.get_total_missed_days(@current_pact) %>
					</td>
					<td class="summary owed"><%= user.get_total_money_owed(@current_pact) %></td>

					<!-- need to put another for loop in here, to loop through the weeks once for each user -->
					<td class="week completed"></td>
					<td class="week owed"></td>
					<td class="week completed "></td>
					<td class="week owed"></td>
				</tr>
				<% end %>
				
				<tfoot>
					<tr class="total">
						<td class="name"><%= @current_pact.get_users.count %> total members</td>

						<% # These functions still need to be written. See models/Pact.rb %>
						<td class="summary total"><%= @current_pact.get_total_workout_days %></td>
						<td class="summary goal"><%= @current_pact.get_total_goal_days %></td>
						<td class="summary missed"><%= @current_pact.get_total_missed_days %></td>
						<td class="summary owed"><%= @current_pact.get_total_owed %></td>

						<!-- need to put another for loop in here, to loop through the weeks once for each user -->
						<td class="week completed "></td>
						<td class="week owed"></td>
						<td class="week completed "></td>
						<td class="week owed"></td>
					</tr>
				</tfoot>
				
			</table>
		</div>







	</div><!--/week-->
</div><!--/#week_wrapper-->