= render partial: 'partials/pact_menu'
.content
  -if @users
    %table
      %thead
        %tr
          %th.border-right{rowspan:2} Name
          %th.border-right.week-header{colspan:7}
            - if @previous_week
              =link_to pact_week_path(@pact, @previous_week), class: "week-button-previous" do
                %span.glyphicon.glyphicon-chevron-left
            - else
              .week-button-previous
            %span.week-button-number
              Week
              = @week.week_number
              %br
              %small
                = @week.start_date.strftime("%b %e")
                to
                = @week.end_date.strftime("%b %e")
            - if @next_week
              =link_to pact_week_path(@pact, @next_week), class: "week-button-next" do
                %span.glyphicon.glyphicon-chevron-right
            - else
              .week-button-next
          %th{colspan:3} Total At End Of Week
        %tr
          %th Goal Days
          %th Workouts
          %th Missed
          %th.border-right Bonus Days
          %th Owed
          %th Paid
          %th.border-right Penalty Total
          %th Workouts
          %th Missed
          %th Penalty
      %tbody
        -@users.each do |user|
          %tr
            %td.border-right
              =user.username
            %td.border-right
              / GOAL DAYS
              / if user has any goals for this pact then show it for the week
              -if !user.goals.where(pact_id: @pact.id).nil?
                = user.goals.find_by('pact_id = ? and week_id = ?', @pact.id, @week.id).goal
            %td
              / WORKOUTS
              = user.workouts.where('pact_id = ? and week_id = ?', @pact.id, @week.id).count
            %td
              / MISSED DAYS
              = (user.goals.find_by('pact_id = ? and week_id = ?', @pact.id, @week.id).goal - user.workouts.where('pact_id = ? and week_id = ?', @pact.id, @week.id).count)
              / MISSED DAYS BEGINNING OF WEEK
              / = @pact.get_missed_days_beginning_of_week(@week.week_number, user)
            %td.border-right
              / BONUS DAYS
              = @pact.get_bonus_days_for_week(@week.week_number, user)
            %td
              / OWED
              = number_to_currency(@pact.get_user_penalty_beginning_of_week(@week.week_number, user))
            %td.border-right
              / PAID
              = number_to_currency( @pact.payments.find_by(user_id: user.id).payment )
            %td.border-right
              / PENALTY TOTAL
              / PENALTY AT BEGINNING OF WEEK
              = number_to_currency( ( @pact.get_user_penalty_beginning_of_week(@week.week_number, user) ) + ( @pact.payments.find_by(user_id: user.id).payment ) )
            %td
              / END OF WEEK WORKOUTS
            %td
              / END OF WEEK MISSED
              = @pact.get_missed_days_end_of_week(@week.week_number, user)
            %td
              / END OF WEEK PENALTY
              = number_to_currency(@pact.get_user_weekly_penalty(@week.id, user))
      %tfoot
        %tr
          %td.border-right
            Total
            %br
            %small
          %td
          %td
          %td
          %td.border-right
          %td
          %td
          %td.border-right
          %td
          %td
          %td

  .content-box
    .week-email
      %span.glyphicon.glyphicon-envelope.week-email-icon
      %h3.week-email-title 
        Week
        = @week.week_number
        Email Template
      %textarea.week-email-textarea.week-email-textarea-addresses
        -@users.each_with_index do |user, index|
          -if index == @users.size - 1
            #{user.email}
          -else
            #{user.email},&nbsp;
      %textarea.week-email-textarea.week-email-textarea-email
        Hi everyone!&#10;&#10;Congrats on completing Week #{@week.week_number} of #{@week.pact.pact_name}! This week, we had 5 people fall short of their goals. As a group, we worked out 75 times, with 3 people achieving bonus days (congrats to Justin, Sam, and Zeus!). As of now, we have $52.25 in the GymPact Bank for HotPot/Korean BBQ! As always, feel free to check out the tracking sheet here.

