<div id="week_menu" class="menu">
	<!-- SELECT TIME PERIOD -->
	<div id="time_period" class="btn-group">

	  <div class="btn-group">
	  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					WEEK <%= @current_week.week_number %>
					<span class="smalltext">
						<%= @current_week.start_date.strftime("%b %d") %> - <%= @current_week.end_date.strftime("%b %d") %>
					</span>
	      <span class="glyphicon glyphicon-chevron-down"></span>
	    </button>
	    <ul class="dropdown-menu">
	    	<% @current_pact.weeks.each do |week| %>
	      <li>
	      	<%= link_to raw("WEEK " + week.week_number.to_s + "<span class='smalltext'>" + week.start_date.strftime("%b %d") + " - " + week.end_date.strftime("%b %d") + "</span>"), week_week_path(@current_pact.id, week.id) %> 
	    	</li>
	    	<% end %>
	    </ul>
	  </div><!--/btn-group-->
	 </div><!--/time_period-->

  <!-- DISPLAY -->
	<div id="display" class="btn-group pull-right">
		<% if current_page?(email_week_path(@current_pact, @current_week)) %>
			<%= link_to raw("<span class='glyphicon glyphicon-envelope'></span>"), email_week_path(@current_pact, @current_week), class: 'btn btn-active btn-default pull-right' %> 
			<%= link_to raw("<span class='glyphicon glyphicon-calendar'></span>"), week_week_path(@current_pact, @current_week), class: 'btn btn-default btn-left-border pull-right' %> 
		<% else %>
			<%= link_to raw("<span class='glyphicon glyphicon-envelope'></span>"), email_week_path(@current_pact, @current_week), class: 'btn btn-default pull-right' %> 
			<%= link_to raw("<span class='glyphicon glyphicon-calendar'></span>"), week_week_path(@current_pact, @current_week), class: 'btn btn-default btn-active btn-left-border pull-right' %> 
		<% end %>



	</div><!--/.btn-group-->

 
</div><!--/#week_menu-->