<%= form_for @pact do |f| %>
  
  <% if @pact.errors.any? %>
    <div class="error_explanation">
      <h2><%=pluralize(@pact.errors.count, "error") %> prohibited this pact from being saved.</h2>
      <ul>
        <% @pact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3">
    <%= f.label :pact_name, 'Pact Name' %>
    <%= f.text_field :pact_name %>
  </div>
  <div class="col-md-3">
    <%= f.label :start_date, 'Select Start Date' %>
    <%= f.text_field :start_date, 'data-behaviour' => 'datepicker', :class => 'datepicker' %>
  </div>
  <div class="col-md-3">
    <%= f.label :end_date, 'Select End Date' %>
    <%= f.text_field :end_date, 'data-behaviour' => 'datepicker', :class => 'datepicker' %>
  </div>
  
  <div class="col-md-3">
    <%= f.submit :class => "btn" %>
  </div>
  
<% end %>
