= form_for setup_pact_goals(@pact) do |f|
  - @pact.users.each do |pu|
    = f.fields_for :goals do |ff|
      .form-goals-goal
        .form-goals-goal-user
          = pu.first_name
          = pu.last_name
          \#{ff.hidden_field :user_id, :value => pu.id}
        .form-goals-goal-days
          = ff.number_field :goal, min: 0, max: 7, :step => '1'
        = ff.hidden_field :pact_id, :value => @pact.id
        - if @pact.is_active == true
          = ff.hidden_field :week_id, :value => @pact.get_current_week.id
        - else
          = ff.hidden_field :week_id, :value => '1'