%h3
  Add Goals For #{@pact.pact_name}
= form_for setup_pact_goals(@pact) do |f|
  - if @pact.errors.any?
    .error_explanation
      %h2
        = pluralize(@pact.errors.count, "error")
        prohibited this goal from being saved.
      %ul
        - @pact.errors.full_messages.each do |msg|
          %li= msg
  .col-md-6
    %h3 Users
  .col-md-6
    %h3 Goal
  - if @pact.goals.count == (@pact.weeks.count) * (@pact.users.count)
  - else
    - @pact.users.each do |pu|
      %div
        = f.fields_for :goals do |ff|
          .col-md-6
            = pu.first_name
            = pu.last_name
            \/ #{pu.username}
            \#{ff.hidden_field :user_id, :value => pu.id}
          .col-md-6
            = ff.number_field :goal, min: 0, max: 7, :step => '1'
          = ff.hidden_field :pact_id, :value => @pact.id
          - if @pact.is_active == true
            = ff.hidden_field :week_id, :value => @pact.get_current_week.id
          - else
            = ff.hidden_field :week_id, :value => '1'
  .col-md-12
    = f.submit "Add Goals", :class => "btn"
