<h3>Add Goals For <%= @pact.pact_name %></h3>

<%= form_for setup_pact_goals(@pact) do |f| %>
  
  <% if @pact.errors.any? %>
    <div class="error_explanation">
      <h2><%=pluralize(@pact.errors.count, "error") %> prohibited this goal from being saved.</h2>
      <ul>
        <% @pact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="col-md-6">
    <h3>Users</h3>
  </div>
  <div class="col-md-6">
    <h3>Goal</h3>
  </div>
<%
=begin %>
  <% if @pact.goals.count == (@pact.weeks.count) * (@pact.users.count) %>

  <% else %>
<%
=end %>
    <% @pact.users.each do |pu| %>
      <div>
        <%= f.fields_for :goals do |ff| %>
          <div class="col-md-6">
            <%= pu.first_name %> <%= pu.last_name %> / <%= pu.username %>
            <%= ff.hidden_field :user_id, :value => pu.id %>
          </div>

          <div class="col-md-6">
            <%= ff.number_field :goal, min: 0, max: 7, :step => '1' %>
          </div>
          <%= ff.hidden_field :pact_id, :value => @pact.id %>

          <% if @pact.is_active == true %>
            <%= ff.hidden_field :week_id, :value => @pact.get_current_week.id %>
          <% else %>
            <%= ff.hidden_field :week_id, :value => '1' %>
          <% end %>
        <% end %>  <!-- f.fields_for :goals  -->
      </div>
    <% end %> <!-- @pact.users.each do |pu|  -->  
<%
=begin %>    
  <% end %>
<%
=end %>
  <div class="col-md-12">
    <%= f.submit "Add Goals", :class => "btn" %>
  </div>
<% end %>
