<h3>Add Goals For <%= @pact.pact_name %></h3>

<%= form_for setup_pact_goals(@pact) do |f| %>
  
  <% if @pact.errors.any? %>
    <div class="error_explanation">
      <h2><%=pluralize(@pact.errors.count, "error") %> prohibited this goal from being saved.</h2>
      <ul>
        <% @pact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :goals do |ff| %>
    
    <% @pact.users.each do |pu| %>

      <div class="col-md-3 text-center">
        <h3>User</h3>
        <%= pu.first_name %> <%= pu.last_name %> / <%= pu.username %>
        <%= ff.hidden_field :user_id, :value => pu.id %>
      </div>

      <div class="col-md-3 text-center">
        <h3><%= ff.label :goal, 'Goal' %></h3>
        <%= ff.number_field :goal, min: 0, max: 7, :step => '1' %>
      </div>

      <div class="col-md-12 text-right">
        <%= ff.hidden_field :pact_id, :value => @pact.id %>
        <%= ff.submit "Add Goals", :class => "btn" %>
      </div>

    <% end %>

  <% end %>

<%
=begin
%>
  <div class="col-md-12">

    <% @pact.users.each do |pu| %>

      <div class="col-md-3">
        <%= pu.first_name %>
        <%= pu.last_name %>
        <%= pu.username %>
      </div>

      <div class="col-md-6">
        <% @pact.weeks.each do |pw| %>
          Week <%= pw.week_number %>
        <% end %>
      </div>

      <div class="col-md-3">
        <%= f.label :goal, 'Goal' %>
        <%= f.number_field :goal, min: 0, max: 7%>
      </div>

    <% end %>

  </div>
<%
=end %>
  
  
<% end %>
