<h3>Add Penalties To <%= @pact.pact_name %></h3>

<%= form_for setup_pact_penalties(@pact) do |f| %>

  <% if @pact.errors.any? %>
    <div class="error_explanation">
      <h2><%=pluralize(@pact.errors.count, "error") %> prohibited this pact from being saved.</h2>
      <ul>
        <% @pact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <h3>Goal Days</h3>
  </div>
  <div class="col-md-6">
    <h3>Penalty</h3>
  </div>
  <%= f.fields_for :penalties do |ff| %>
    <div class="col-md-6">
      <%= ff.number_field :goal_days, :value => ff.index, :placeholder => ff.index, :readonly => true %>
    </div>
    <div class="col-md-6">
      <%= ff.number_field :penalty, :step => 0.01 %>
    </div>
    <%= ff.hidden_field :pact_id, :value => @pact.id %>
    <br />

  <% end %>
  <%= f.submit :class => "btn" %>
  <!-- </div> -->

<% end %>

