.content
  .content-box
    = render :partial => 'partials/create_pact_progress'

    .form
      - if !@pact.users.present?
        .form-row
          =link_to add_users_path(@pact.id), class: "button button-full" do
            &laquo; &nbsp; Add users before adding goals
      - else
        - if @pact.goals.count == (@pact.weeks.count) * (@pact.users.count)
          - if Date.today > @pact.start_date || Date.today < @pact.end_date
            %h2 Edit goals for users in #{@pact.pact_name} for Week # #{@current_week.week_number}
          - else 
            %h2 Edit goals for users in #{@pact.pact_name} for Week # #{@current_week.week_number}
        - else
          %h2 Add goals for users in #{@pact.pact_name}
        = form_for setup_pact_goals(@pact) do |f|
          - if @pact.errors.any?
            .error_explanation
              %h2
                = pluralize(@pact.errors.count, "error")
                prohibited this goal from being saved.
              %ul
                - @pact.errors.full_messages.each do |msg|
                  %li= msg

          %h1 
            
          .form-goals
            .form-goals-goal
              .form-goals-goal-user
                %strong Users
              .form-goals-goal-days
                %strong Weekly Goal Days
            
            
            - if @pact.goals.count == (@pact.weeks.count) * (@pact.users.count)
              / if goals count is equal to (number of weeks)*(number of users)
              - if Date.today < @pact.start_date || Date.today > @pact.end_date
                / if today's date is not within the pact's start/end dates
                -debugger
                - @pact.users.order(:id).each do |pu|
                  .form-goals-goal
                    .form-goals-goal-user
                      = pu.first_name
                      = pu.last_name
                      = f.hidden_field :user_id, :value => pu.id
                    .form-goals-goal-days
                      = f.number_field :goal, min: 0, max: 7, :step => '1', :value => pu.goals.find_by(week_id: @pact.get_current_week.id).goal
                    = f.hidden_field :week_id, :value => @pact.get_current_week.id
                    = f.hidden_field :pact_id, :value => @pact.id
              - else 
                - @pact.users.order(:id).each do |pu|
                  .form-goals-goal
                    .form-goals-goal-user
                      = pu.first_name
                      = pu.last_name
                      = f.hidden_field :user_id, :value => pu.id
                    .form-goals-goal-days
                      = f.number_field :goal, min: 0, max: 7, :step => '1', :value => pu.goals.find_by(week_id: @pact.get_current_week.id).goal
                    = f.hidden_field :week_id, :value => @pact.get_current_week.id
                    = f.hidden_field :pact_id, :value => @pact.id
            
            - else
              / if goals count is not equal to (number of weeks)*(number of users)
              - @pact.users.order(:id).each do |pu|
                = f.fields_for :goals do |ff|
                  .form-goals-goal
                    .form-goals-goal-user
                      = pu.first_name
                      = pu.last_name
                      \#{ff.hidden_field :user_id, :value => pu.id}
                    .form-goals-goal-days
                      = ff.number_field :goal, min: 0, max: 7, :step => '1'
                      = ff.hidden_field :pact_id, :value => @pact.id

                    - if @pact.is_active == true
                      = ff.hidden_field :week_id, :value => @pact.get_current_week.id
                    - elsif @pact.is_active == false && Date.today < @pact.start_date
                      / if pact is not active and hasn't started, these goals are for the first week
                      = ff.hidden_field :week_id, :value => @pact.weeks.first.id
                    - elsif @pact.is_active == false && Date.today > @pact.end_date
                      / if pact is not active and ended, these goals are for the last week
                      = ff.hidden_field :week_id, :value => @pact.weeks.last.id
            
          .form-row
            = f.submit "Add Goals", :class => "button button-full"

          .form-row
            .form-row-note 
              Next step: Add penalties
