= render partial: 'partials/pact_menu'
.content
  %div.text-center
    %select#week_numbers.text-center
      %option{:value => nil, include_blank: true}="Navigate to week"
      = @pact.weeks.each do |week|
        %option{:value => week.id}="Week #{week.week_number}"
  - if @messages
    - previous_message = nil
    - last_message = false
    - @messages.each_with_index do |message, index|
      - if index == @messages.size - 1
        - last_message = true
        / - if message.user
        = render partial: "chat_message", locals: {previous_message: previous_message, message: message, last_message: last_message}
        - previous_message = message
        / -debugger

    %table
      %thead
        %tr
          / %th Message ID
          / %th Date+Time
          %th Date
          %th Time
          / %th User ID
          %th Sender
          %th Message
          %th Workout?
      %tbody
        - @pact.messages.each_with_index do |message, el|
          / - @pact.messages[el-1]
          / - @pact.messages[el+1]
          / starting point for chat-like view
          / show the week number
          - if (@pact.start_date..@pact.end_date).include?(message.date)
            - if message.week.messages.empty? == true
              %tr
                %td
                  No messages for week #
                  \
                  - message.week.week_number
            -else
              - if message.id == message.week.messages.first.id
                %tr
                  %td{colspan:8}
                    %b
                      Week #
                      \
                      = message.week.week_number
          / render partial for chat's messages
          = render partial: "chat_messages", :object => @week, :locals => {:message => message}

:javascript
  $('#week_numbers').change(function() {
    window.location = "chat/week/"+ $(this).find('option:selected').val();
    });