= render partial: 'partials/pact_menu'
.content
  .chat-week-nav
    .chat-week-prev
      - if @week.week_number > @pact.weeks.first.week_number && @week.week_number < @pact.weeks.last.week_number
        %h2
          = link_to 'Previous Week', pact_chat_week_path(@pact.id, (@week.id - 1))
    .chat-week-dropdown
      %select#week_numbers
        = @pact.weeks.each do |week|
          %option{:value => week.id, :selected => (week.id == @week.id) }="Week #{week.week_number}"
    .chat-week-next
      -if @week.week_number == @pact.weeks.first.week_number || @week.week_number < @pact.weeks.last.week_number
        %h2
          = link_to 'Next Week', pact_chat_week_path(@pact.id, (@week.id + 1))

  %div.text-center
    
  - if @messages
    %table
      %thead
        %tr
          %th Message ID
          %th Date+Time
          %th Date
          %th Time
          %th User ID
          %th Sender
          %th Message
          %th Workout?
      %tbody
        - @week.messages.each do |message|
          / show the week number
          - if (@pact.start_date..@pact.end_date).include?(message.date)
            - if message.week.messages.empty? == true
              %tr
                %td
                  No messages for week #
                  \
                  - message.week.week_number

            -else
              - if message.id == message.week.messages.first.id
                %tr
                  %td{colspan:8}
                    %b
                      Week #
                      \
                      = message.week.week_number
          / render partial for chat's messages
          = render partial: "chat_messages", :object => @week, :locals => {:message => message}

:javascript
  $('#week_numbers').change(function() {
    window.location = $(this).find('option:selected').val();
    });