= render partial: 'partials/pact_menu'
.content
  %div.text-center
    %select#week_numbers.text-center
      %option{:value => nil, include_blank: true}="Navigate to week"
      = @pact.weeks.each do |week|
        %option{:value => week.id}="Week #{week.week_number}"
  - if @messages
    - previous_message = nil
    - last_message = false
    - @messages.each_with_index do |message, index|
      - if index == @messages.size - 1
        - last_message = true
        / - if message.user
        = render partial: "chat_message", locals: {previous_message: previous_message, message: message, last_message: last_message}
        - previous_message = message

.content 
  - @pact.messages.each_with_index do |message, el|
    -# if message is not within start date, it will not show in the view
    - if (@pact.start_date..@pact.end_date).include?(message.date)
      - if message.week.messages.empty? == true
        No messages for week #
        \
        - message.week.week_number
      -else
        - if message.id == message.week.messages.first.id
          %h3
            %b 
              Week #
              \
              = message.week.week_number


      .chat-row{:class => ("chat-row-photo" if message.image != nil), :class => ("merge-chat-row" if @pact.messages[el-1].sender == message.sender), :id => "message-row-#{message.id}"}
        -# check if user exists, if not, use sender
        -if message.user == nil
          -# if previous message's sender is the same as current one, do not show sender, show the timestamp and message
          -if @pact.messages[el-1].sender == message.sender
            .chat-message
              %span.chat-message-header-timestamp
                =message.date.strftime("%B %-d, %Y")
                =message.time
              = render partial: "chat_message_content", locals: { message: message}
          -else
            .chat-message
              .chat-message-header
                %span.chat-message-header-username
                  = message.sender
              %span.chat-message-header-timestamp
                =message.date.strftime("%B %-d, %Y")
                =message.time
              = render partial: "chat_message_content", locals: { message: message}
        -else  
          -# if message's user is the same as previous one, do not show username
          -if @pact.messages[el-1].user == message.user
            .chat-message
              / .chat-message-header
              %span.chat-message-header-timestamp
                =message.date.strftime("%B %-d, %Y")
                =message.time
              = render partial: "chat_message_content", locals: { message: message}
          -else
            .chat-message
              .chat-message-header
                %span.chat-message-header-username
                  =message.user.username
              %span.chat-message-header-timestamp
                =message.date.strftime("%B %-d, %Y")
                =message.time
              = render partial: "chat_message_content", locals: { message: message}

:javascript
  $('#week_numbers').change(function() {
    window.location = "chat/week/"+ $(this).find('option:selected').val();
    });