<div class="container">

<h3><%= link_to 'New Pact', new_pact_path %></h3>
  <table>
    <thead>
      <tr>
        <th>Pact Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Active?</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @pact.pact_name %></td>
        <td><%= @pact.start_date %></td>
        <td><%= @pact.end_date %></td>
        <td><%= @pact.is_active %></td>
      </tr>
    </tbody>
  </table>
  <table>
  <thead>
    <tr>
      <th>Week ID</th>
      <th>Week Number</th>
      <th>Week Start Date</th>
      <th>Week End Date</th>
      <th>Pact</th>
    </tr>
  </thead>
  <tbody>
    <% for week in Week.where(pact_id: @pact.id) %>
      <tr>
        <td class="week-id"><%= week.id %></td>
        <td class="week-week-number"><%= week.week_number %></td>
        <td class="week-start"><%= week.start_date %></td>
        <td class="week-end"><%= week.end_date %></td>
        <td class="week-pact-id"><%= week.pact_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>