= render partial: 'partials/pact_menu'
.content
  .content-section
    .summary-stats
      .summary-stats-stat-container
        .summary-stats-stat
          .summary-stats-stat-label Current Week
          .summary-stats-stat-number #
          .summary-stats-stat-footer
            out of
            = @pact.weeks.count
            weeks total

      .summary-stats-stat-container
        - if @users.count == 0
          = link_to add_users_path, class: "summary-stats-stat summary-stats-stat-empty" do
            .summary-stats-stat-number
              %span.glyphicon.glyphicon-plus.summary-stats-stat-glyphicon
              Add users
        - else
          .summary-stats-stat
            =link_to pact_users_path(@pact), class: "summary-stats-stat-link" do
              .summary-stats-stat-label Users
              .summary-stats-stat-number 
                =@users.count
                users
            .summary-stats-stat-footer
              = link_to "Edit users", add_users_path

      .summary-stats-stat-container
        - if @goals.count == 0 || @users.count == 0
          = link_to add_goals_path, class: "summary-stats-stat summary-stats-stat-empty" do
            .summary-stats-stat-number
              %span.glyphicon.glyphicon-plus.summary-stats-stat-glyphicon
              Add goals
        - else
          .summary-stats-stat
            .summary-stats-stat-label Total Work Outs
            .summary-stats-stat-number 51
            .summary-stats-stat-footer
              %strong 12 
              missed
              &nbsp;&#8226;&nbsp;
              %strong 3 
              bonus
              &nbsp;&#8226;&nbsp;
              = link_to "Edit goals", add_goals_path
      .summary-stats-stat-container
        -if !@pact.penalties.present?
          = link_to add_penalties_path, class: "summary-stats-stat summary-stats-stat-empty" do
            .summary-stats-stat-number
              %span.glyphicon.glyphicon-plus.summary-stats-stat-glyphicon
              Add penalties
        -else
          .summary-stats-stat
            .summary-stats-stat-label Total Penalties In Pot
            .summary-stats-stat-number $X
            .summary-stats-stat-footer
              %strong $X
              paid
              &nbsp;&#8226;&nbsp;
              %strong $X
              pending
              &nbsp;&#8226;&nbsp;
              = link_to "Edit penalties", add_penalties_path

  .content-section
    -if @pact.weeks
      %table
        %thead
          %tr
            %th.border-right{rowspan:2} Week
            %th{colspan:4} Workouts
            %th{colspan:3} Penalty
          %tr
            %th Goal Days
            %th Workouts
            %th Missed Days
            %th.border-right Bonus Days
            %th Owed
            %th Paid
            %th Total
        %tbody
          -@pact.weeks.each do |week|
            %tr
              %td.border-right
                =link_to pact_week_path(@pact, week) do
                  Week
                  = week.week_number
                %br
                %small
                  = week.start_date.strftime("%b %e")
                  to
                  = week.end_date.strftime("%b %e")
              %td.border-right
              %td
              %td
              %td.border-right
              %td
              %td.border-right
              %td
        %tfoot
          %tr
            %td.border-right 
              Total
              %br
              %small
                = @pact.start_date.strftime("%b %e")
                to
                = @pact.end_date.strftime("%b %e")
            %td
            %td
            %td
            %td.border-right
            %td
            %td
            %td


  .content-section
    %h1 Pact

    %table
      %thead
        %tr
          %th Pact ID
          %th Pact Name
          %th Start Date
          %th End Date
          %th Is Active?
        %tr
          %td= @pact.id
          %td= @pact.pact_name
          %td= @pact.start_date
          %td= @pact.end_date
          %td= @pact.is_active



  .content-section
    %h1 Weeks

    %table
      %thead
        %tr
          %th Week ID
          %th Week Number
          %th Week Start Date
          %th Week End Date
          %th Pact ID
        %tbody
          -@pact.weeks.each do |week|
            %tr
              %td= week.id
              %td= week.week_number
              %td= week.start_date
              %td= week.end_date
              %td= week.pact_id


  .content-section
    %h1 Users

    - if @users.present?
      %table
        %thead
          %tr
            %th User ID
            %th First Name
            %th Last Name
            %th Username
        %tbody
          -@users.each do |user|
            %tr
              %td= user.id
              %td= user.first_name
              %td= user.last_name
              %td= user.username
    
    %p= link_to "Edit users for #{@pact.pact_name}", controller: "pacts", action: "add_users", id: @pact
    %p= link_to "Create Users", new_admin_user_path, :target => '_blank'


  .content-section
    %h1 Penalties


    -if @pact.penalties.present?
      %table
        %thead
          %tr
            %th Goal Days
            %th Penalty
        %tbody
          -@pact.penalties.each do |penalty|
            %tr
              %td= penalty.goal_days
              %td= number_to_currency(penalty.penalty)
      
      %p= link_to "Edit penalties for #{@pact.pact_name}", controller: "pacts", action: "add_penalties", id: @pact
    -else
      %p 
        Penalties do not exist yet. 
        = link_to "Add Penalty", controller: "pacts", action: "add_penalties", id: @pact

  .content-section
    %h1 Goals

    - if @pact.goals.present?
      %table
        %thead
          %tr
            %th User ID
            %th Pact ID
            %th Goal
            %th Goal ID
            %th Week ID
        %tbody
          -@pact.goals.each do |pg|
            %tr
              %td
                = pg.user_id
                = pg.get_user(pg.user_id).username
              %td= pg.pact_id
              %td= pg.goal
              %td= pg.id
              %td= pg.week_id

    %p= link_to 'Edit Goals', controller: "pacts", action: "add_goals", id: @pact



  .content-section
    %h1 Dashboard
    
    %table
      %thead
        %tr
          %th User ID
          %th Full Name
          %th Week
          %th Goal Days
          %th Penalty  Per Missed Day
          %th Weekly Total Workout
          %th Bonus Days
          %th Total Missed Days at Beginning of Week
          %th Total Missed Days At End of Week
          %th Weekly Penalty Total
          %th Penalty Total At Beginning of Week
          %th Amount Paid
      %tbody
        -@pact.weeks.each do |pw|
          -@pact.users.each do |pu|
            %tr
              %td= pu.id
              %td
                = pu.first_name
                = pu.last_name
              %td= pw.week_number
              %td
                -if !pu.goals.find_by(week_id: pw.id).nil?
                  = pu.goals.find_by(week_id: pw.id).goal
              %td
                -if !@pact.penalties.find_by(goal_days: (pu.goals.find_by(week_id: pw.id))).nil?
                  = number_to_currency(@pact.penalties.find_by(goal_days: (pu.goals.find_by(week_id: pw.id).goal) ).goal_days)
              %td
              %td
              %td
              %td
              %td
              %td
              %td


