<div id="chat_menu" class="menu">
	<!-- SELECT TIME PERIOD -->
	<div id="time_period" class="btn-group">

	  <div class="btn-group">
	  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					WEEK <%= @current_week.week_number %>
					<span class="smalltext">
						<%= @current_week.start_date.strftime("%b %d") %> - <%= @current_week.end_date.strftime("%b %d") %>
					</span>
	      <span class="glyphicon glyphicon-chevron-down"></span>
	    </button>
	    <ul class="dropdown-menu">
	    	<% @current_pact.weeks.each do |week| %>
	      	<li>
	      		<% if week == @current_week %>
	      			<%= link_to raw("WEEK " + week.week_number.to_s + "<span class='smalltext'>" + week.start_date.strftime("%b %d") + " - " + week.end_date.strftime("%b %d") + "</span>"), chat_week_path(@current_pact.id, week.id), class: 'active' %> 
	      		<% else %>
	      			<%= link_to raw("WEEK " + week.week_number.to_s + "<span class='smalltext'>" + week.start_date.strftime("%b %d") + " - " + week.end_date.strftime("%b %d") + "</span>"), chat_week_path(@current_pact.id, week.id) %> 
	      		<% end %>
	    	</li>
	    	<% end %>
	    </ul>
	  </div><!--/btn-group-->

	 	<div class="btn-group">
	    <button type="button" class="time btn btn-default btn-left-border dropdown-toggle" data-toggle="dropdown">
	      ALL DAYS
	      <span class="glyphicon glyphicon-chevron-down"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Monday <span class="smalltext">June 9</span></a></li>
	      <li><a href="#">Tuesday <span class="smalltext">June 10</span></a></li>
	      <li><a href="#">Wednesday <span class="smalltext">June 11</span></a></li>
	      <li><a href="#">Thursday</a></li>
	      <li><a href="#">Friday</a></li>
	      <li><a href="#">Saturday</a></li>
	      <li><a href="#">Sunday</a></li>
	    </ul>
	  </div>

	</div><!--/btn-group-->

	<!-- DISPLAY -->
	<div id="display" class="btn-group pull-right">
    <button type="button" class="btn btn-default pull-right">
	  	<span class="glyphicon glyphicon-picture"></span>
	 	</button>

	  <button type="button" class="btn-active btn btn-left-border btn-default pull-right">
	  	<span class="glyphicon glyphicon-align-justify"></span>
	  </button>
	</div><!--/.btn-group-->



</div><!--/#chat_menu-->