#chat_menu.menu
  #time_period.btn-group
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        WEEK #{@current_week.week_number}
        %span.smalltext
          = @current_week.start_date.strftime("%b %d")
          to 
          = @current_week.end_date.strftime("%b %d")
        %span.glyphicon.glyphicon-chevron-down
      %ul.dropdown-menu
        - @current_pact.weeks.each do |week|
          %li
            - if week == @current_week
              = link_to raw("WEEK " + week.week_number.to_s + "<span class='smalltext'>" + week.start_date.strftime("%b %d") + " - " + week.end_date.strftime("%b %d") + "</span>"), pact_chat_week_path(@current_pact.id, week.id), class: 'active'
            - else
              = link_to raw("WEEK " + week.week_number.to_s + "<span class='smalltext'>" + week.start_date.strftime("%b %d") + " - " + week.end_date.strftime("%b %d") + "</span>"), pact_chat_week_path(@current_pact.id, week.id)
    .btn-group
      %button.time.btn.btn-default.btn-left-border.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        ALL DAYS
        %span.glyphicon.glyphicon-chevron-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            Monday
            %span.smalltext June 9
        %li
          %a{:href => "#"}
            Tuesday
            %span.smalltext June 10
        %li
          %a{:href => "#"}
            Wednesday
            %span.smalltext June 11
        %li
          %a{:href => "#"} Thursday
        %li
          %a{:href => "#"} Friday
        %li
          %a{:href => "#"} Saturday
        %li
          %a{:href => "#"} Sunday
  #display.btn-group.pull-right
    %button.btn.btn-default.pull-right{:type => "button"}
      %span.glyphicon.glyphicon-picture
    %button.btn-active.btn.btn-left-border.btn-default.pull-right{:type => "button"}
      %span.glyphicon.glyphicon-align-justify
