= form_for(@goal, :url => pact_goal_path(@pact, @goal)) do |f|
  - if @goal.errors.any?
    .error_explanation
      %h2
        = pluralize(@goal.errors.count, "error")
        prohibited this goal from being saved.
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg
  .col-md-12
    / -debugger
    = f.label :goal_days, 'Goal days'
    = f.number_field :goal_days, min: 0, max: 7
    %br
  .col-md-3
    = f.submit :class => "btn"
