= form_for @goal do |f|
  - if @goal.errors.any?
    .error_explanation
      %h2
        = pluralize(@goal.errors.count, "error")
        prohibited this goal from being saved.
      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg
  .col-md-12
    - @pact.users.each do |pu|
      = pu.first_name
      = pu.last_name
      = pu.username
      = f.label :goal, 'Goal'
      = f.number_field :goal, min: 0, max: 7
      %br/
  .col-md-3
    = f.submit :class => "btn"
