= render partial: 'partials/pact_menu'


.content
  %h1 
    Goals for 
    =@pact.pact_name
  %table
    %thead
      %tr
        %th User
        %th Goal
        %th Week Number
    %tbody
      - @goals.order(:week_id).each do |goal|
        %tr
          %td
            = goal.user.first_name 
            = goal.user.last_name
          %td= goal.goal_days
          %td= goal.week.week_number
