!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GymPact
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      #sidebar-wrapper
        = render 'layouts/sidebar'
      #page-content-wrapper
        = render 'layouts/header'
        #page-content
          = render 'layouts/flash'
          = yield