<!DOCTYPE html>
<html>
<head>
  <title>GymPact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div class="wrapper">

  <div class="sidebar-wrapper">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="page-wrapper">
    <%= render 'layouts/header' %>
    <div class="content">
      <% if !flash.empty? %>
        <div class="content-alerts">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
          <% end %>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:error] %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </div>
      <% end %>
      <div class="content-body">
  		  <%= yield %>
      </div>
    </div>
  </div>

</div>

</body>
</html>
