<!DOCTYPE html>
<html>
<head>
  <title>GymPact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>



<div id="wrapper">
    <div id="sidebar-wrapper">
        <%= render 'layouts/sidebar' %>
    </div><!--/sidebar-wrapper-->
    <div id="page-content-wrapper">
        <%= render 'layouts/header' %>
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- ALERTS per Devise gem for users -->
                        <% if flash.each do |name, msg| %>
                          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
                          <% end %>
                        <% end %>

                        <% if flash[:notice] %>
                          <div class="notice"><%= flash[:notice] %></div>
                        <% end %>
                        <% if flash[:error] %>
                          <p class="alert"><%= alert %></p>
                        <% end %>
                    		<%= yield %>
                        <!-- content of page -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	
</body>
</html>
